html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
}

header,
footer,
span {
    padding: 10px;
}

* {
    font-family: 'Roboto', sans-serif;
    transition: all 0.6s;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 3fr 10fr 3fr;
    grid-template-rows: min-content auto;
    grid-template-areas:
        'cover cover cover'
        '. content .';
}

.cover {
    grid-area: cover;
    height: 100vh;
    background-image: url(./images/programming.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    backdrop-filter: blur(3px);
}

.cover h1 {
    text-align: center;
}

.credit {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    text-decoration: none;
}

.credit a:link,
.credit a:visited {
    color: rgb(194, 194, 194);
}

.credit a:hover,
.credit a:active {
    color: white;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.main-nav {
    margin-top: 5px;

}

.main-nav a {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
}

.main-nav a {
    color: black;
    font-size: .99em;
}

.main-nav a:hover {
    color: #383c45;
}

.header {
    padding-top: .5em;
    padding-bottom: .5em;
    background-color: transparent;
}

@media (min-width: 769px) {

    .header,
    .main-nav {
        display: flex;
    }

    .header {
        flex-direction: column;
        align-items: center;

        width: 80%;
        margin: 0 auto;
        max-width: 1150px;
    }

}

@media (min-width: 1025px) {
    .header {
        flex-direction: row;
        justify-content: center;
    }

}

div.flex-wrapper {
    grid-area: content;
    height: 100%;
}

.flex-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    padding: 0;
    margin: 0;
}

.card-body {
    padding: 20px;
    margin: 10px;
    border-style: none;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}

.card-body.small {
    flex: 1 1 30%;
}

.card-body.medium {
    flex: 2 2 50%;
}

.card-body.wide {
    flex: 100%;
}

@media (max-width: 800px) {
    .grid-wrapper {
        grid-template-areas:
            'cover cover cover'
            'content content content';
    }

    .card-body.small,
    .card-body.medium,
    .card-body.wide {
        flex: 100%;
    }
}

@media (max-width: 1300px) {
    .grid-wrapper {
        grid-template-areas:
            'cover cover cover'
            'content content content';
    }
}

.card-title {
    padding: 0;
    margin: 0 0 20px 0;
}

.card-text p {
    padding: 0;
    margin: 0 0 10px 0;
}

.card-links a {
    padding: 0;
    margin: 0 0 10px 0;
    color: #008CF5;
    text-decoration: none;
}

.card-links a:hover {
    transition: color 0.5s;
    color: #0068D6;
}

.card-body-small h3 {
    padding: 0;
    margin: 0;
}

.card-footer,
.card-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-self: flex-end;
}

.card-links a {
    margin: 0 5px 0 0;
    padding: 6.4px 4px;
    font-weight: bold;
}

.card-footer p {
    margin: 0 5px 0 0;
    padding: 5.5px 5.5px;
    border-radius: 5px;
    font-size: 13px;
}

.card-footer .standard {
    background-color: #0068D6;
    color: white;
}

.card-footer .developing {
    background-color: #ffa600;
    color: #ffffff;
    font-weight: bold;
}

.card-footer .complete {
    background-color: #058001;
    color: #ffffff;
    font-weight: bold;
}

.icon.light {
    height: 15px;
    margin: 0 3px 0 0;
    vertical-align: text-top;
    filter: invert(100%);
}

.icon.dark {
    height: 15px;
    margin: 0 3px 0 0;
    vertical-align: text-top;
}

p.light {
    color: white;
}

p.dark {
    color: black;
}