html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
}

header,
footer,
span {
    padding: 10px;
}

* {
    font-family: 'Roboto', sans-serif;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: min-content auto;
    grid-template-areas:
        'header header header'
        '. content .';
}

header {
    grid-area: header;
    background-color: dodgerblue;
}

header h1 {
    color: white;
    padding: 5px 0 5px 0;
    margin: 0;
    font-size: 20px;
}


div.flex-wrapper {
    grid-area: content;
    height: 100%;
}

.flex-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    padding: 0;
    margin: 0;
}

.card-body-small {
    padding: 20px;
    margin: 10px;
    flex: 40%;
    border-style: none;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}

.card-body-wide {
    padding: 20px;
    margin: 10px;
    flex: 100%;
    border-style: none;
    border-radius: 5px;
    flex-basis: 1;
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}

@media (max-width: 800px) {
    .grid-wrapper {
        grid-template-areas:
        'header header header'
        'content content content';
    }
    .card-body-small,
    .card-body-wide {
        flex: 100%;
    }
}

.card-title {
    padding: 0;
    margin: 0 0 20px 0;
}

.card-text p {
    padding: 0;
    margin: 0 0 10px 0;
}

.card-links a {
    padding: 0;
    margin: 0 0 10px 0;
    color: #008CF5;
    text-decoration: none;
}

.card-links a:hover {
    transition: color 0.5s;
    color: #0068D6;
}

.card-body-small h3 {
    padding: 0;
    margin: 0;
}

.card-footer,
.card-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-self: flex-end;
}

.card-links a {
    margin: 0 5px 0 0;
    padding: 6.4px 4px;
}

.card-footer p {
    margin: 0 5px 0 0;
    padding: 5.5px 5.5px;
    background-color: #383c45;
    color: white;
    border-radius: 5px;
    font-size: 13px;
}